.header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #afeeee;
}

.header-contents {
  font-size: 30px;
  margin-left: 120px;
}

.much-icon {
  width: 10vw;
  margin-right: 10vw;
  text-decoration: none;
  color: black;
}