.show-header-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.much-icon {
  width: 10vw;
  margin-right: 10vw;
  text-decoration: none;
  color: black;
}