.show-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: white;
  padding-bottom: 70px;
}

.show-form-table {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  background: white;
  padding-left: 20px;
}

.current-member-img {
  width: 60%;
  height: 33vh;
}

.show-title {
  border-style: none;
  width: 33vw;
}

.show-title h3 {
  margin-bottom: 20px;
}

.show-profile {
  border-style: none;
  width: 33vw;
  font-size: 18px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.profile h3 {
  margin-bottom: 6px;
  font-size: 26px;
}

.profile-link {
  text-decoration: none;
  padding-top: 50px;
  margin-top: 20px;
}

.mach-link {
  margin-top: 40px;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--radius {
   border-radius: 100vh;
}

.btn--blue,
a.btn--blue {
  color: #fff;
  background-color: #38AEF0;
}
.btn--blue:hover,
a.btn--blue:hover {
  color: #fff;
  background: #38AEF0;
}

a.btn-border {
  padding: 1.5rem 4rem;
  border: 3px solid #000;
  border-radius: 0;
  background: #fff;
}

a.btn-border:before {
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;

  border-top: 3px dotted #000;
}

a.btn-border:after {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  border-top: 3px dotted #000;
}

a.btn-border:hover:before {
  top: -3px;
  background: #000;
}

a.btn-border:hover:after {
  bottom: -3px;
  background: #000;
}

.btn--glay,
a.btn--glay {
  color: #fff;
  background-color: #d3d3d3;
}
.btn--glay:hover,
a.btn--glay:hover {
  color: #fff;
  background: #d3d3d3;
}