<header class='show-header'>
  <div class='show-header-contents'>
    <%= link_to "MUCHUP", "/", class:"much-icon" %>
  </div>
</div>

<div class="member-main">
<div class="member-contents">
    <h2 class='title'>マッチ一覧</h2>
  </div>
  <ul class='member-lists'>
    <% @mach.each do |user| %>
      <li class='list'>
        <%= link_to messages_path do %>
          <div class='member-img-content'>
            <%= image_tag user.image, class: "member-img" %>
          </div>
          <div class='member-info'>
            <%= user.nickname %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>